/ClientApp/node_modules/
/SMBackend/db.sqlite3
*.sqlite3
SMBackend/SMBackend/pycache/
/SMBackend/venv/
/SMBackend/backend/pycache/
/SMBackend/backend/migrations/pycache/
/SMBackend/stocks/pycache/
/SMBackend/stocks/migrations/pycache/
/SMBackend/user/pycache/
/SMBackend/user/migrations/pycache/
.idea