.outerContainer2 {
    height: 90vh;
    margin: 0;
    display: flex;
    align-items: center;
    
}

.innerContainer2 {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: left;
    
}

.innerContainerItem2 {
    margin-bottom: 20px;
}

.loginContainer2 {
    width: 40%;
    align-items: center;
}

.loginCard2 {
    align-items: center;
    padding: 15px;
}

.loginField2 {
    width: 90%;
    text-align: left;
    padding-bottom: 15px;
}

.ticker {
    width:90%;
    display: top;
    justify-content: center;
    border-style: solid;
    margin: 10px;
}
.tickerbutton{
    width: 90%;
    margin: 5px;
    border-radius: 10px;
}
.firstone {
    width: 100%;
    height: 30px;

}
.newcard{
    justify-content: right;
    width: 100%;
    margin: 20px;
    margin-top: 0px;

    


}
.img1{
    margin:5px;
}