
.outerContainer2 {
    height: 100vh;
    margin: 0;
    display: flex; 
    align-items: center;
}

.innerContainer2 {
    width: 100%;
    text-align: center; 
    display: flex;
    justify-content: center;
}

.innerContainerItem2 {
    margin-bottom: 30px;
}

.loginContainer2 {
    width: 40%;
    align-items: center;
}

.loginCard2 {
    align-items: center;
    padding: 10px;
}

.loginField2 {
    width: 90%;
    text-align: left;
    padding-bottom: 15px;
}

.buttonField2 {
    display: flex;
    justify-content: end;
}


